#Has few conflicts in methods.
#Use importFrom, will remove warnings.
import(biomaRt)
import(pls)
import(corrplot)
import(yacca)
import(FRCC)
import(STRINGdb)
import(RCurl)
import(BiocCheck)
import(testthat)
import(httr)
import(XML)
import(RJSONIO)
import(ChemmineR)
import(ChemmineOB)
import(CCA)
#Export public API methods.
export(clusterSmallMolecules)
export(mergeChEBIOntologyWithChildFavoring)
export(mapReactomePathways)
export(getStringNeighbours)
export(showPseudoClusteringResults)
export(makeCCAOnData)
export(makeGlobalCCA)
export(showOnlyValuableResults)
export(makeYaccaCharts)
export(makePLSOnData)
export(makePLSCharts)
#Export CONST
export(constans)
export(taxonIdToReactomeCodes)
#Fill it in future.
exportClasses()
exportMethods()