#Has few conflicts in methods.
# TODO : Use importFrom, will remove warnings.
import(pls)
import(corrplot)
import(yacca)
import(FRCC)
import(STRINGdb)
import(RCurl)
import(BiocCheck)
import(testthat)
import(httr)
import(XML)
import(RJSONIO)
# import(ChemmineR)
import(plyr)
import(mygene)
import(gridExtra)
# import(ChemmineOB)
import(CCA)

# Export NEW PUBLIC API
export(clusterUsingOntology)
export(firstExistsInReactomeChebiOntology)
export(mergeChEBIOntologyWithChildFavoring)
export(mapReactomePathwaysUnderOrganism)
export(getStringNeighbours)
export(makeCanonicalCorrelationAnalysis)
export(plotCanonicalCorrelationAnalysisResults)
export(makePartialLeastSquaresRegression)
export(plotRmsepForPLS)
export(plotRegression)
export(createFunctionalInteractionsDataFrame)


# DEV Exports.


# OLD PUBLIC exports.


# Export CONST
export(constans)
export(taxonIdToReactomeCodes)
# Fill it in future.
exportClasses()
exportMethods()
